*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background: #000;
}


.box-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
}

.single-box{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: auto;
    background: bisque;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
    transition: .5s;
}

.img-area{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 8rem;
    height: 8rem;
    border: 4px solid black;
    border-radius: 50%;
    margin-bottom: 4rem;
    background-position: center center;
    background-size: cover;

}

.single-box:nth-child(1) .img-area{
    background-image: url(../img/about-img.jpeg);
}
.single-box:nth-child(2) .img-area{
    background-image: url(../img/about-img.jpeg);
}
.single-box:nth-child(3) .img-area{
    background-image: url(../img/about-img.jpeg);
}

.head-text{
    font-size: 1.5rem;
    font-family: monospace;
    line-height: 3rem;
}

.single-box:hover{
    background: crimson;
    color:#FFF;
}